* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.head {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.head-content,
.dream-content {
    flex-basis: 60%;
    padding: 5%;
}

.head-content h1,
.dream-content h1 {
    font-size: 50px;
}

.head-content .name {
    color: orange;
}

.head-content p,
.dream-content p {
    text-align: justify;
    margin-bottom: 30px;
}

.hire,
.resume {
    padding: 15px 35px;
    font-size: 20px;
    font-weight: 400;
    background-image: linear-gradient(to right, #F78667, #FB6656);
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

.head-img img,
.dream-img img {
    width: 80%;
    margin: 20px;
    text-align: center;
}

.dream-big {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.dream-content h3 {
    font-size: 20px;
    margin: 15px 0px;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.experience-area{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
.experience-area h4{
    margin-top: 10px;
    color: rgb(255, 94, 0);
}
.experience-left{
    flex-basis: 40%;
    margin-right: 50px;
    box-shadow: 1px 1px 1px 1px black;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-left: 6px solid #FB6857;
}
.experience-right{
    flex-basis: 40%;
    box-shadow: 1px 1px 1px 1px black;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-left: 6px solid blue;
}
.experience-area p{
    text-align: justify;
    margin-top: 15px;    
}
footer{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.278) -20px 25px 20px 20px;
    margin-top: 80px;
    font-weight: 900;
    font-size: 19px;
}

@media screen and (max-width: 780px) {
    .head {
        flex-direction: column-reverse;
        text-align: center;
    }

    .dream-big {
        flex-direction: column;
        text-align: center;
    }
    .experience-area{
        flex-direction: column;
    }
    .experience-left,.experience-right{
        margin: 20px 60px;
    }
}